body {
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

header {
    background: linear-gradient(to right, #333, #555);
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    padding: 0.5rem 0;
}

.nav-links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover::before {
    visibility: visible;
    width: 100%;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 0.3rem;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 2rem;
}

h2, h3 {
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0,5rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
